* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;

    background-color: black;
}

.block {
    height: 100%;
    color: whitesmoke;
    user-select: none;
    cursor: grab;
    transition: 0.75s font-size;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 40%;
    width: 100%;
    font-weight: bold;

    text-align: center;
    text-transform: capitalize;
    transition: 0.75s font-size;
}

.locate {
    text-align: center;
    font-style: italic;
    transition: 0.75s font-size;
}

#clock {
    display: flex;
    flex: 1;
    justify-content: center;

    column-gap: 1rem;
    font-weight: bold;
    transition: 0.75s font-size;
    color: whitesmoke;
}

.custom-select-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
    row-gap: 20px;
}

.custom-select-wrapper select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 40%;
    text-align: center;
    padding: 8px 40px 8px 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: white;
    color: #333;
    cursor: pointer;
    transition: all 0.3s ease;
    outline: none;
}

.custom-select-wrapper select:hover,
.custom-select-wrapper select:focus {
    color: black;
    border-color: #888;
}

@media only screen and (max-width: 599px) {
    #clock {
        font-size: 7rem;
    }

    .title {
        font-size: 3.5rem;
        text-transform: uppercase;
    }

    .locate {
        font-size: 1rem;
        display: none;
    }

    .custom-select-wrapper {
        display: none;
    }
}

@media only screen and (min-width: 600px) {
    #clock {
        font-size: 6rem
    }

    .title {
        font-size: 3.5rem;
    }

    .locate {
        font-size: 1.5rem;
    }
}

@media only screen and (min-width: 768px) {
    #clock {
        font-size: 7rem
    }

    .title {
        font-size: 4.5rem;
    }

    .locate {
        font-size: 2rem;
    }
}

@media only screen and (min-width: 992px) {
    #clock {
        font-size: 10rem
    }

    .title {
        font-size: 6.5rem;
    }

    .locate {
        font-size: 2.5rem;
    }
}

@media only screen and (min-width: 1200px) {
    #clock {
        font-size: 12rem
    }

    .title {
        font-size: 8rem;
    }

    .locate {
        font-size: 3rem;
    }
}

/* Styles for portrait mode (height >= width) */
@media (orientation: portrait) {
    .title {
        display: none;
    }

    #clock {
        font-size: 9rem;
        height: 100%;
        align-items: center;
        transform: rotate(-90deg);
    }
}

/* Styles for landscape mode (width > height) */
@media (orientation: landscape) and (max-width: 1200px) {
    .title {
        display: none;
    }

    #clock {
        font-size: 9rem;
        height: 100%;
        align-items: center;
    }
}